.blockBuilder {
    position: relative;
    margin: 2px;
    &:hover{
        outline:solid 1px #e36854;
    }
    div {
        &:focus {
            outline:solid 1px #e36854;
        }
    }
   
}

.active {
    color: #e36854;
}
.alignment, .tools {
    display: flex;
    justify-content: space-between;
    color: #969696;
    font-family: Muli;
    font-size: 12px;
    padding: 20px;
    align-items: center;
    .alignment-tools, .font-tools{
        color:#787878;
        font-weight: normal;
        display: flex;
        font-size: 15px;
        cursor: pointer;
        i {
            &:hover {
                color:#333;
            }
        }
        div {
            margin-right: 10px;
        }
    }
}

.font-tools {
    div {
        margin-right: 13px!important;
    }
}

.tools-title {
    &:first-letter {
        text-transform: uppercase;
    }
}

.text-tools {
    .text-tool-wrap{
        display: flex;
        justify-content: space-between;
        color: #969696;
        font-family: Muli;
        font-size: 12px;
        padding: 20px;
        align-items: center;
        .elements {
            min-width: 100px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            i {
                &:hover {
                    color:#333;
                }
            }
           
        }
    }
  
}
.content-editable {
    background-color: #fff;
}