.svg-container {
    width: 56px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    div, svg{
        width: 100%;
        height: 100%;
    }
    svg {
        g {
            stroke: black;
        }
        path {
            stroke: black;
        }
    }
}

.active {
    background-color:#fdf7f6;
    border-radius: 6px;
    svg {
        g {
            stroke: #e36854;;
        }
        path {
            stroke: #e36854;
        }
    }
    .grid-title {
        color: #e36854;
    }
}

.grid-title {
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
}
