.TextPannel {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    p {
        font-size: 12px;
        margin-right: 10px;
    }
    div {
        margin-right: 5px;
        cursor: pointer;
    }
}