.dashboard-side-bar-right{
    overflow: hidden;
    border-right:  solid 1px #eaeaea;
    max-width: 0;
    transition: max-width 1s ease;
    background: #fff;
    height: 100%;
 
    ul {
        margin: 0;
        list-style: none;
        padding: 20px;
        .NavigationItem {
            text-align: left;
            font-family: Muli;
            min-width: 260px;
            a {
                color: #000;
                text-decoration: none;
                &:hover {
                    color: #e36854;
                }
            }
        }
    }

}

.show {
    min-width: 260px;
    background: #fff;
    height: 100%;
}