.dashboard-header-right-menu {
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}
.dashboard-header-dropdown {
    min-width: 175px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    .dropdown{
      
        button {
            min-width: 125px;
            color: #000;
            font-family: 'Muli';
            font-size: 12px;
            border: none;
            border-radius: 0;
            height: 60px;
            background: #fff;
            span {
                margin-left: 5px;
            }
    
        }
       
    }
    #dropdown {
        width: 100%;
        font-family: Muli;
        font-size: 14px;
        font-weight: bold;
        &:active {
            background-color: #e36854;
        }
        &:focus {
            box-shadow: none!important;
        }
    
      
    }
    .dropdown-menu {
        min-height: 50px;
        min-width: 175px;
        font-size: 14px;
        text-align: center;
      
            a {
                padding: 12px 20px;
                i {
                    margin-right: 5px;
                }
            }
        
    }
}
.dropdown-toggle{
    &:after {
        margin-left: 1.255rem;
    }
}

.show {
    .btn-secondary {
        background-color: #e36854!important;
    }
}

