.active svg g {
    &:nth-child(1){
        stroke: #fff;
        fill: #e36854;
    }
    &:nth-child(2){
        stroke: #e36854;
        fill: #e36854;
    }

}
.active svg path {
    &:nth-child(1){
        stroke: #fff;
        fill: #e36854;
    }
    &:nth-child(2){
        stroke: #e36854;
    }
}