.builder-header-logo{
    overflow: hidden;
    border-right:  solid 1px #eaeaea;
    max-width: 0;
    transition: max-width 1s ease;
    background: #fff;
    height: 100%;

    .builder-header-image-wrapper{
        text-align: left;
        padding: 20px;
        min-width: 260px;
    }
}

.show {
    max-width: 260px;
    background: #fff;
    height: 100%;
}