.pannel {
    list-style: none;
    display: flex;
    justify-content: center;
    visibility: visible;
}
.pannel li {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.hide-panel {
    display: none!important;
    list-style: none;
    display: flex;
    justify-content: center;
    li {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
    }
}