.login-links li{
    display: inline-block;
    margin: 2px 5px;
    padding: 3px 6px;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    a {
         color: #f05f40;
    }
  }
  .login-links li:hover{
    text-decoration: underline;
    border: 2px solid #eb3812;
  }
  .login-links li{
    border: 2px solid #ccc;
  }
