.dashboard-wrapper {
    min-height: 800px;
    display: flex;
    .dashboard-side-bar{
        min-height: 800px;
        .dashboard-side-bar-right {
            min-height: 800px;
        }
    }
}

h2 {
    font-family: 'Muli';
}